.card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: white;
	border: 1px solid #dddbda;
	border-radius: .25rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}